---
import { images } from "../assets/images";
import Image from "astro/components/Image.astro";
import SectionTitle from "./SectionTitle.astro";
import FeatureCard from "./FeatureCard.astro";
import UMLogo from "./UMLogo.astro";
---

<section class="bg-black py-12 md:py-20 px-4">
  <div class="max-w-6xl mx-auto">
    <!-- タイトル -->
    <SectionTitle subText="他とは違う" title="UMゴルフの特徴" />

    <!-- UMゴルフの特徴説明 -->
    <div
      class="mb-12 md:mb-20 border-2 border-white rounded-lg p-6 md:p-8 text-left"
    >
      <div class="mb-6">
        <Image src={images.umFeature} alt="UMゴルフの特徴" class="mx-auto" />
      </div>
      <p class="text-white text-base md:text-lg leading-relaxed px-2 md:px-20">
        UMゴルフのレッスンでは、ツアーでも使われる〈タイトリスト Pro
        V1〉を使用するため、軌道解析機が正確に計測を行うことができます。<br />
        そのデータをもとにプロコーチが的確なアドバイスを行うため、再現性が高く、高品質なレッスンを提供しています。<br
        />
        併設の基礎練習場でいつでも反復練習をしていただけます。
      </p>
    </div>

    <!-- プロコーチ -->
    <FeatureCard
      featureTitle="プロコーチ"
      ImageSrc={[images.coach1, images.coach2, images.coach3]}
      ImageAlt={["田中コーチ", "西コーチ", "曽我コーチ"]}
      featureText="現役ツアーなどの競技に参戦しているアスリートプロとティーチングプロとして実績を持つコーチのみを採用しています。<br />自らも日々最新技術の習得に努力を怠らないコーチが在籍しており、他のスタジオのPGAティーチングプロが学びに来るほどのハイレベルなレッスンを展開しています。"
    />

    <!-- 高性能シミュレータ -->
    <FeatureCard
      featureTitle="高精度解析機"
      ImageSrc={images.simulator}
      ImageAlt="高性能シミュレータ"
      featureText="現時点で最高精度と言われる解析機器を設置しています。<br />スイング解析とボール解析の同時解析でスイングフォームとインパクトの誤差を見逃さず、数値で可視化します。経験や勘ではなく、データに基づくレッスンなので正しいティーチングが可能です。"
    />

    <!-- タイトリスト PRO V1 使用 -->
    <FeatureCard
      featureTitle="タイトリスト Pro V1"
      ImageSrc={images.proV1}
      ImageAlt="試合球"
      featureText="レッスンには高コストな試合球タイトリストPRO V1Xを採用。<br />高精度な解析機器と試合球の同時使用により、わずかな打感の違いも正確にデータ化し、より正しいレッスンに繋がります。コストよりも本物の上達を優先するUMゴルフのこだわりです。"
    />

    <!-- 毎日利用できる基礎練習場 -->
    <FeatureCard
      featureTitle="毎日利用できる基礎練習場"
      ImageSrc={images.practice}
      ImageAlt="基礎練習場"
      featureText="50分間、スイングカメラ付き打席をいつでも利用可能。レッスン後の基礎練習やフォーム固めに最適です。初心者にはNGF認定インストラクターによる無料レッスンも実施。日々の積み重ねが、本番での再現性を生みます。"
    />

    <!-- データ×プロ指導 -->
    <div class="px-4 md:px-28 mb-8 md:mb-20">
      <Image
        src={images.umgolfResult}
        alt="UMゴルフの実績"
        class="w-full h-auto object-contain rounded-lg"
      />
    </div>
  </div>
  <UMLogo />
</section>
